<!--
<mat-toolbar color="primary">
  <a
    [routerLink]="'/'"
    mat-icon-button
    class="example-icon"
    arial-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_books</mat-icon>
  </a>
  <span>Portal de exámenes</span>
  <span class="example-spacer"></span>
  <a *ngIf = "!isLoggedIn" [routerLink]="'/login'" mat-icon-button class = "example-icon favorite-icon"
    aria-label = "Example icon-button with heart icon">Iniciar sesión</a>
  <a *ngIf = "!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml70"
    aria-label="Example icon-button with heart icon">Registrar</a>
  <a *ngIf = "isLoggedIn" (click) = "logout()" style="margin-right: 50px" mat-icon-button
    class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Cerrar sesión</a>
    
  <button
    *ngIf = "isLoggedIn && user"
    mat-button
    style="margin-right: 10px"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    {{ user.username }}
  </button>
</mat-toolbar>
-->


  <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary navbar-dark bg-dark ">
    <div class="container">
      
      <a class="navbar-brand" routerLink="/" fragment="carouselExampleCaptions">
       <img src="../../../../assets/img/logoargentinaprograma.png" alt="logoargentinaprograma">
      </a>
      
<!--<h1 class="text-light " *ngIf = "isLoggedIn" >Bienvenido al Panel de Administrador</h1>-->

      <button class="navbar-toggler border-0" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNavDropdown" 
              aria-controls="navbarNavDropdown" 
              aria-expanded="false" 
              aria-label="Toggle navigation"
              >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" 
           id="navbarNavDropdown">
        <ul class="navbar-nav ms-lg-auto">

          <li class="nav-item dropdown content-fluid">
            <a class="nav-link dropdown-toggle fs-4" 
               href="#" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Portfolio
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/" fragment="about">Sobre Mí</a></li>
              <li><a class="dropdown-item" routerLink="/" fragment="educacion">Educación</a></li>
              <li><a class="dropdown-item" routerLink="/" fragment="experiencia">Experiencia</a></li>
              <li><a class="dropdown-item" routerLink="/" fragment="skills"><i>Hard & Soft Skills</i></a></li>
              <li><a class="dropdown-item" routerLink="/" fragment="proyectos">Proyectos</a></li>
            </ul>
          </li>

          <li class="nav-item d-none d-lg-block">
            <a *ngIf = "!isLoggedIn" class="nav-link" href="https://github.com/LoreGCF/LoreGCF.git" target="_blank"><i class="bi bi-github fs-3"></i></a>
          </li>


          <li class="nav-item d-none d-lg-block">
            <a *ngIf = "!isLoggedIn" class="nav-link" href="https://linkedin.com" target="_blank"><i class="bi bi-linkedin fs-3"></i></a>
          </li>

          <li *ngIf = "!isLoggedIn" class="nav-item d-none d-lg-block">
            <a class="nav-link" href="https://www.facebook.com/profile.php?viewas=100000686899395&id=100009782955889" target="_blank"><i class="bi bi-facebook fs-3"></i></a>
          </li>

       
          
          <li class="nav-item d-none d-lg-block"> <a class="nav-link"  *ngIf = "!isLoggedIn"  [routerLink]="'/login'"
           
             ><i class="bi bi-person-fill-lock fs-2"></i></a>
          </li>
        

          
          <li  class="nav-item d-none d-lg-block"> <a class="nav-link"   *ngIf = "isLoggedIn" 
           (click) = "logout()" 
           
            ><i class="bi bi-person-fill fs-4"></i>
            {{ user.username }}
          </a>
          </li>
<!--
          <button
            *ngIf = "isLoggedIn && user"
             mat-button
             style="margin-right: 10px"
             class="example-icon favorite-icon nav-link"
             
             aria-label="Example icon-button with heart icon"
            >
            {{ user.username }}
            </button>
-->
        </ul>
      </div>
    </div>
  </nav>
